@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body{
  margin:0;
  padding:0;
  font-family: 'Stick No Bills', sans-serif;
  font-family: 'Space Mono', monospace;
  background-color: #718093;
}
.asci{
  white-space: pre;
  font-family: "Courier New", Courier, monospace; 
}
.container{
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
.main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* HEADER */

header, footer{
  background-color: #2f3640;
  color: white;
  padding: 2rem 0;
}
.title, .title-content{
  text-align: center;
}
.title{
  font-size: min(7px, .5vw);
  font-size: 1vw;
}
.title-content{
  font-size: min(3px, .2vw);
  font-size: .43vw;
}
.flex{
  display:flex;
  flex-direction: column;
}

/* Navigation */
ul{
  display: flex;
  justify-content: center;
  gap: 1rem;
}
li{
  list-style: none;
  border: 1px dashed white;
  padding: 0 3px;
}
.link{
  text-decoration: none;
  color:white;
}
li:hover{
  cursor: pointer;
  font-weight: 800;
}

@media (min-width: 500px){
  .flex{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .title, .title-content{
    text-align: left;
  }
  .title{
    font-size: min(7.5px, .5vw);
  }
  .title-content{
    font-size: min(3px, .2vw);
  }
  ul{
    font-size: min(1rem, 2.6vw);           /*shu manylymy 600px gora sazlandy*/
  }

}

/* FOOTER */
footer{
  text-align: center;
  font-size: .75rem;
}
.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacts{
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

@media(min-width: 500px){
  .contact{
    flex-direction: row;
    gap: 2rem;
    font-size: min(.75rem, 1.95vw);          /*shu manylymy*/
  } 
}


/* HOMEPAGE */
.electronic-item{
  position: relative;
  font-size: min(7px, 2vw);
  border-bottom: 1px dotted black;
}
.electronic-item:hover{
  cursor: pointer;
  font-weight: 800;
  border-bottom: 1px solid black;
}
.electronic-list{
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.electronic-detail{
  position:absolute;
  left: 50%;
  top: 70%;
  font-size: 0.8125rem;
  border-radius: 5px;
  padding: 1em 2em; 
  background-color: #7f8fa6;
  color: #dcdde1;
  letter-spacing: 1.6px;
  z-index: 1;
  width: 200px;
  white-space: normal;    /* shu yeri gaty wajyp, cunki yokardakyda white-space: pre dur*/
}

@media(min-width: 500px){
  .electronic-list{
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .electronic-item{
    font-size: min(9px, 1.25vw);
  }
}